[submodule "home/.powerline"]
	path = home/.powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
